/*
 * Layouts
 */

.l-page {
    padding: 2rem;
}

/*
 * Player
 */

.c-player {
    max-width: 35rem;
    margin: auto;
}

.c-player__title {
    margin: 0 0 1rem;
    text-align: center;
}

.c-player__btn-wrapper {
    margin: 2rem;
    text-align: center;
}

.c-player-btn {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: none;
    background-color: cornflowerblue;
    color: #ffffff;
    cursor: pointer;
    transition: background-color .2s, opacity .2s;
}

.c-player-btn:hover:not(:disabled) {
    background-color: #3d6abb;
}

.c-player-btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}

/*
 * Pads
 */

.c-pads {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/*
 * Pad
 */

.c-pad {
    border: none;
    position: relative;
    padding-top: 100%;
}

.c-pad__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px 5px #d2d2d2;
    border: none;
    cursor: pointer;
    transform: scale(1);
    transition: transform .2s, background-color .2s;
}

.c-pad__btn-text {
    font-size: 1rem;
}

.c-pad__btn-additional-text {
    display: block;
    position: absolute;
    top: 1rem;
    padding: .25rem .5rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .5);
}

.c-pad__btn.is-on {
    background-color: #498b53;
}

.c-pad__btn.is-off {
    background-color: #f43456;
}

.c-pad__btn.is-in-cue {
    background-color: #fcac1a;
}

.c-pad__btn:active {
    transform: scale(.9);
}
